* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-1: #0f044c;
  --color-2: #141e61;
  --color-3: #787a91;
  --color-4: #eeeeee;
}
body {
  background-color: #080f29;
  margin: 0 5%;
}

/* PELICULA DESTACADA */
.pelicula-destacada {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex: end;
}
.pelicula1 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../../assets/img-listaPeliculas/batman.jpg);
}
.pelicula2 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../../assets/img-listaPeliculas/uncharted.jpg);
}
.pelicula3 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../../assets/img-listaPeliculas/spiderman.jpg);
}
.pelicula-destacada .container {
  margin-bottom: 6.25em;
}
.pelicula-destacada .titulo {
  font-weight: 600px;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}
.pelicula-destacada .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1.12em;
}
.pelicula-destacada .boton:hover {
  background: #fff;
  color: #000;
}
.pelicula-destacada .boton i {
  margin-right: 1em;
}
/* ----------------TITULO DE CATEGORIAS Y CONTROLES------------- */
.titulo-controles {
  display: flex;
  justify-content: space-between;
  flex: end;
}
.titulo-controles h3 {
  color: #fff;
  font-size: 30px;
}
/* -------------CAROUSEL DE PELICULAS RECOMENDADAS--------------- */
.item {
  height: 18rem;
  min-width: 25rem;
  padding: 2rem;
}
.item img {
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.slider {
  display: flex;
  cursor: grab;
}
.slider-container {
  margin: 0 auto;
  overflow-x: hidden;
}
